@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?87d0e2397a66374f4a55b5215f672c20") format("truetype"),
url("./flaticon.woff?87d0e2397a66374f4a55b5215f672c20") format("woff"),
url("./flaticon.woff2?87d0e2397a66374f4a55b5215f672c20") format("woff2"),
url("./flaticon.eot?87d0e2397a66374f4a55b5215f672c20#iefix") format("embedded-opentype"),
url("./flaticon.svg?87d0e2397a66374f4a55b5215f672c20#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-phone-ringing:before {
    content: "\f101";
}
.flaticon-email:before {
    content: "\f102";
}
.flaticon-maps-and-flags:before {
    content: "\f103";
}
